
          <div class="publications">
            <ol class="bibliography">
              
              <li>
                <div class="row">
                  <div class="col-sm-2 abbr">
                    <abbr class="badge">ICCA 2024</abbr>
                  </div>
                  <div class="col-sm-10">
                    <div class="title">Early Detection of Suicidal Ideation Using Bidirectional GRU and Language Models</div>
                    <div class="author">
                      <strong>Shakil Mahmud Shuvo</strong>, Navia Novely, Md. Farukuzzaman Faruk, Azmain Yakin Srizon, S. M. Mahedy Hasan
                    </div>
                    <div class="periodical">
                      <em>Proceedings of the 3rd International Conference on Computing Advancements</em>, 2024
                    </div>
                    <div class="note"><span class="badge badge-danger">First Author</span></div>
                    <div class="links">
                      <a href="https://dl.acm.org/doi/10.1145/3723178.3723242" class="btn btn-sm btn-outline-primary" target="_blank">Paper</a>
                    </div>
                  </div>
                </div>
              </li>
              
              <li>
                <div class="row">
                  <div class="col-sm-2 abbr">
                    <abbr class="badge">ICCA 2024</abbr>
                  </div>
                  <div class="col-sm-10">
                    <div class="title">Improving Pre-Trained CNNs with CBAM and Skip Connections for Multi-Class Retinal Diseases Classification using OCT Images</div>
                    <div class="author">
                      Navia Novely, <strong>Shakil Mahmud Shuvo</strong>, Md. Farukuzzaman Faruk
                    </div>
                    <div class="periodical">
                      <em>Proceedings of the 3rd International Conference on Computing Advancements</em>, 2024
                    </div>
                    <div class="note"><span class="badge badge-info">Second Author</span></div>
                    <div class="links">
                      <a href="https://dl.acm.org/doi/10.1145/3723178.3723304" class="btn btn-sm btn-outline-primary" target="_blank">Paper</a>
                    </div>
                  </div>
                </div>
              </li>
              
            </ol>
          </div>
